.tic_tac_toe {
    background-color: cyan;
    padding-left: 20%;
    padding-right: 20%;
    display: inline;
    flex-wrap: wrap;
}

/* .column {
    background-color: black;
    margin-left: 25%;
    margin-right: 26%;
    display: flex;
}
 */

.game {
    margin-top: 10px;
}

.board {
    display: grid;
    width: 450px;
    height: 450px;
    grid-template-columns: auto auto auto;
    padding-left: 30.8%;
    float: left;
}

p {
    font-size: 30px;
    font-weight: bold;
}

.am {
    
    width: 500px;
    height: 100px;
    padding-left: 27%;
}

.am p {
    margin-top: 50px;
    width: 300px;
    text-align: center;
}

.am img {
    float: right;
    margin: -45px;
    padding-left: 30px;
    min-height: 150px;
    vertical-align: baseline;
}

.field {
    display: flex;
    width: 150px;
    height: 150px;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    font-weight: bold;
    border: 3px solid black;
    transition: background 0.2s ease-in-out;
}



.field img {
    max-height: 140px;
    max-width: 140px;
}


.player {
    max-height: 40px;
}

.playerBox {
    display: inline-block;
    float: right;
    padding-right: 90px;
}

.playerBox img {
    min-height: 150px;
}

.leave {
    padding-top: 10px;
    margin-top: 30px;
    margin-right: 10px;
    background-color: black;
    width: 150px;
    height: 60px;
    color: white;

}